@import "../styleConstants";
.CardDeck{
    display: grid;
    margin: 10px auto;
    min-width: 50vw;
    max-width: 50vw;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(3, 1fr);
}

.Card  {
    max-height: 90%;
    max-width: 100%;
    padding: 10px;
    background: rgba(131, 167, 239, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: left;
    .CardTitle {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 10px;
        color: white;
    }
    .CardDescription {
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 10px;
        color: RGB(red($primary-color),green($primary-color),blue($primary-color));
    }

}