
    .header {
      background-color: #092a37;
      grid-area: header;
      padding: 1em;
    }

    .title {
      color: #555;
      background-color: #f4fbfd;
      grid-area: title;
    }

    .main {
      color: #959595;
      background-color: white;
      grid-area: main;
      padding: 0;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    .items {
      position: relative;
      width: 100%;
      height: 100%;
      overflow-x: scroll;
      overflow-y: visible;
      white-space: nowrap;
      transition: all 0.2s;
      transform: scale(0.98);
      will-change: transform;
      user-select: none;
      cursor: pointer;
      padding-top: 40px;
      padding-bottom: 40px;
      text-align:center;
      padding-inline-start: 50%;
      padding-inline-end: 50%;
      scrollbar-width: none;
    }

    .items::-webkit-scrollbar{
        display: none;
      }

    .items.active {
      background: rgba(255, 255, 255, 0.3);
      cursor: grabbing;
      cursor: -webkit-grabbing;
      transform: scale(1);
    }

    .drag-item {
      display: inline-block;
      min-height: 40px;
      min-width: 40px;
      top:20%;
      transition: transform 0.3s ease;
      margin-right: 50vw;
      /* transform: translateY(50%); */
    }

    .drag-item.active {
        transform: translateY(50%) scale(2);
      }

    /* .drag-item:not(:last-child) {
        background-color: red;
    } */


    .drag-line{
        position: absolute; 
        height: 0.125rem;
        border-radius: 9999px;
        left: 0; 
        right: 0; 
        margin-left: 50%; 
        margin-right: 50%; 
        top:20%;
    }