
    @keyframes experience-load {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 100;
        }
    }
    
    .experience-main{
        position: relative;
        background-color: inherit;
        overflow: hidden;
    }


    .items {
      position: relative;
      width: 100%;
      overflow-x: scroll;
      overflow-y: visible;
      white-space: nowrap;
      transition: all 0.2s;
      will-change: transform;
      user-select: none;
      cursor: pointer;
      text-align:center;
      padding-inline-start: 50%;
      padding-inline-end: 50%;
      scrollbar-width: none;
      animation: experience-load 1s 0s 1 ease-in-out;
      margin: 0%;
      background-color: transparent;
    }

    .number-text{
        color: white;
    }

    .flair-text{
        color: rgb(134 239 172);
    }

    


    .title-comp{
        padding-left: 25%;
      }

    .button-group{
        display: flex;
        margin-top: 0.5rem;
        padding-left:25%;
        align-items: flex-start;
    }

    .button-child{
        background-color: rgb(204 251 241);
    }

    .light .button-child{
        background-color: rgb(142, 212, 197);
    }

    .button-child:not(:first-child){
        margin-left: 0.5rem;
    }

    .button-child:hover:not(.button-active){
        background-color: rgb(153 246 228);
    }
    .light .button-child:hover:not(.button-active){
        background-color: rgb(67, 190, 166);
    }

    .button-active,
    .light .button-active{
        box-shadow: 0 10px 15px -3px rgb(20 184 166/ 0.5), 0 4px 6px -4px rgb(20 184 166/ 0.5);
        background-color: rgb(134 239 172);
    }

    .items::-webkit-scrollbar{
        display: none;
      }

    .items.animate {
        pointer-events: none;
      }

      .no-click{
        pointer-events: none;
      }

    .items.active {
      background: rgba(255, 255, 255, 0.3);
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }

    @keyframes drag-item-load {
        0%{
            opacity: 0;
            min-width: 0vw;
            margin-right: 0vw;
        }
        50%{
            opacity: 1;
            min-width: 0vw;
            margin-right: 0vw;
        }
        100%{
            opacity: 1;
            min-width: 50vw;
            margin-right: 20vw;

        }
    }

    .drag-item {
      display: inline-block;
      /* background-color: black; */
      min-height: 100%;
      min-width: 50vw;
      top:20%;
      margin-right: 20vw;
    }

    /* If changing timing, change the loadAnim Timeout */
    .items.animate .drag-item{
        animation: drag-item-load 0.5s linear 0s 1; 
    }

    .drag-item:last-child {
        margin-right: 30vw;
      }

    .drag-item .circle{
        background-color: black;
        object-fit: contain;
        width: 2.5rem;
        height: 2.5rem;
        top:15%;
        transition: all 1s ease;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 10px;
    }

    .drag-item.active .circle{
        width: 5rem;
        height: 5rem;
        border-radius: 10px;
    }

    .drag-item .square{
        position: absolute;
        height: 0%;
        width: 0%;
        border-radius: 20px;
        transition: all 0.5s ease;
        overflow-x: clip;
        top: 15%;
        background: rgba(131, 167, 239, 0.12);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }

    .light .drag-item .square{
        background: rgba(131, 167, 239, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    }

    .drag-item.active .square{
        opacity: 1;
        transform: translateX(0%) translateY(0%) ;
    }


    .drag-line{
        background-color: rgb(187 247 208);
        position: absolute; 
        height: 0.125rem;
        border-radius: 9999px;
        left: 0; 
        right: 0; 
        margin-left: 50%; 
        margin-right: 50%; 
        top:15%;
    }

    .light .drag-line{
        background-color: rgb(0, 119, 79);
    }

    .drag-item .drag-title{
        position: absolute;
        color: white;
        text-align: left;
        top:15%;
        z-index: 10;
        transform: translateY(-80%) translateX(1.5rem);
        transition: all 1s ease;
        overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
    }

    .drag-item.active .drag-title{
        transform: translateY(-80%) translateX(2.75rem);
    }

    .drag-item .drag-date{
        position: absolute;
        color: white;
        text-align: left;
        /* left: 10px; */
        top:15%;
        z-index: 10;
        transform: translateY(0%) translateX(1.5rem);
        transition: all 1s ease;
    }

    .light .drag-item .drag-date,
    .light .drag-item .drag-title{
        color: black;
    }

    .drag-item.active .drag-date{
        transform: translateY(0%) translateX(2.75rem);
    }

    .drag-item .drag-text-body{
        color: white;
        text-align: left;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        
        opacity: 0;
    }

    .drag-item.active .drag-text-body{
        opacity: 1;
        transform: translateY(2.5rem) translateX(2.75rem);
        width: calc(100% - 2.75rem);
        height: calc(100 - 2.5rem - 10%);
        transition: opacity 0.5s 0.5s ease;
        color: rgb(134 239 172);
        /* text-overflow: clip; */
    }

    .drag-item.active .drag-text-title{
        color: rgb(204 251 241);
    }


    .light .drag-item.active .drag-text-title{
        color: rgb(43, 119, 103);
    }

    .light .drag-item.active .drag-text-body{
        color: rgb(0, 119, 79);
    }

    
    /* drag-pill group */
    .drag-item .drag-pill-group{
        position: absolute;
        opacity: 0;
        bottom: 10%;
    }
    
    .drag-item.active .drag-pill-group{
        opacity: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transition: opacity 0.5s 0.5s ease;
    }    

    /* pill */
    .drag-pill-group .drag-pill{
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 20px;
        height: 2rem;
        max-width: 2rem;
        overflow: hidden;
        padding-left: 0.2rem;
    }
    .drag-pill-group .drag-pill:hover{
        max-width: 100%;
        transition: max-width 0.5s ease;
        padding-right: 0.2rem;
    }

    .drag-pill:not(:first-child){
        margin-left: 0.125rem;
    }

    /* pill image */
    .drag-pill-group .drag-pill .pill-image{
        max-width: 1.6rem;
        max-height: 1.6rem;
        border-radius: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }

    /* Pill text */
    .drag-pill-group .drag-pill .pill-text{
        font-size: 1rem;
        transform-origin: left;
        transition: all 2s ease;
        margin-left: 0.3rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    .drag-pill-group .drag-pill:hover .pill-text{
        display: block;
        
    }


    /* Media default */
    .items {
        height: 50vh;
        overflow-y: hidden;
    }
    .drag-item .drag-title{
        font-size: 1.5rem;
    }
    .drag-item .drag-date{
        font-size: 1.5rem;
    }
    .drag-item.active .drag-text-body{
        font-size: 1rem;
        -webkit-line-clamp: unset;
        transform: translateY(2.5rem) translateX(2.5rem);
        width: calc(100% - 2.6rem);
    }

    .drag-item.active .square{
        height: 60%;
        width: 50%;
        transform: translateX(0%) translateY(0%) ;
    }

    .drag-item .drag-pill-group{
        left: 2.75rem;
    }

    .number-text{
        font-size: 2rem;
    }

    .flair-text{
        font-size: 1rem;
    }
      
    .image-popup{
        position: absolute;
        z-index: 100;
        
        width: 100%;
        height: 80%;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
    }

    .image-popup.show{
        transition: opacity 0.5s ease-in-out;
        visibility: visible;
        opacity: 1;
    }

    .image-popup .ip-dark{
        position: absolute;
        background-color: black;
        opacity: 0.8;
        width: 100%;
        height: 100%;
    }

    .image-popup .ip-image{
        position: absolute;
        top: 10%;
        height: 60%;
        left: 50vw;
        transform-origin: center;
        transform: translateX(-50%);
    }

    

    @media screen and (min-width: 0px) and (max-width: 640px) {
        .items{
            height: 50vh;
        }
        .drag-item .drag-title{
            font-size: 0.8rem;
        }
        .drag-item .drag-date{
            font-size: 0.8rem;
        }
        .drag-item.active .drag-text-body{
            font-size: 0.8rem;
            -webkit-line-clamp: unset;
            transform: translateY(2.5rem) translateX(1rem);
            width: calc(100% - 1.1rem);
        }

        .drag-item.active .square{
            width: 60%;
            transform: translateX(0%) translateY(0%) ;
        }

        .drag-item .drag-pill-group{
            left: 1rem;
        }
        .title-comp{
            padding-left: 10%;
        }
        .number-text{
            font-size: 1rem;
        }
    
        .flair-text{
            font-size: 0.7rem;
        }
      }
      
      @media screen and  (min-width: 641px) and (max-width: 768px) {
        .items{
            height: 50vh;
        }
        .drag-item .drag-title{
            font-size: 1rem;
        }
        .drag-item .drag-date{
            font-size: 1rem;
        }
        .drag-item.active .drag-text-body{
            font-size: 1rem;
            -webkit-line-clamp: unset;
            transform: translateY(2.5rem) translateX(1rem);
            width: calc(100% - 1.1rem);
        }

        .drag-item.active .square{
            width: 60%;
            transform: translateX(0%) translateY(0%) ;
        }

        .drag-item .drag-pill-group{
            left: 1rem;
        }
      }
      
      @media screen and  (min-width: 769px) and (max-width: 1024px) {
        .items{
            height: 50vh;
        }
        .drag-item .drag-title{
            font-size: 1.1rem;
        }
        .drag-item .drag-date{
            font-size: 1.1rem;
        }
        .drag-item.active .drag-text-body{
            font-size: 1.1rem;
            -webkit-line-clamp: unset;
            transform: translateY(2.5rem) translateX(1rem);
            width: calc(100% - 1.1rem);
        }

        .drag-item.active .square{
            width: 60%;
            transform: translateX(0%) translateY(0%) ;
        }

        .drag-item .drag-pill-group{
            left: 1rem;
        }
      }
      
      @media screen and  ((min-height: 0px) and (max-height: 500px)) {
        .items{
            height: 90vh;
        }
        .drag-item .drag-title{
            font-size: 0.8rem;
        }
        .drag-item .drag-date{
            font-size: 0.8rem;
        }
        .drag-item.active .drag-text-body{
            font-size: 0.7rem;
            -webkit-line-clamp: unset;
            transform: translateY(2.5rem) translateX(1rem);
            width: calc(100% - 1.1rem);
        }

        .drag-item.active .square{
            width: 60%;
            transform: translateX(0%) translateY(0%) ;
        }

        .drag-item .drag-pill-group{
            left: 1rem;
        }
      }

      @media screen and  ((min-height: 501px) and (max-height: 640px)) {
        .items{
            height: 60vh;
        }
        .drag-item .drag-title{
            font-size: 0.7rem;
        }
        .drag-item .drag-date{
            font-size: 0.7rem;
        }
        .drag-item.active .drag-text-body{
            font-size: 0.7rem;
            -webkit-line-clamp: unset;
            transform: translateY(2.5rem) translateX(1rem);
            width: calc(100% - 1.1rem);
        }

        .drag-item.active .square{
            width: 60%;
            transform: translateX(0%) translateY(0%) ;
        }

        .drag-item .drag-pill-group{
            left: 1rem;
        }
      }

      .section-text{
        color: rgb(134 239 172);
      }

    .light .number-text{
        color:rgb(16 185 129);
        color: black;
    }

    
      
      .light .section-text,
      .light .flair-text{
        color: black;
        color:rgb(0, 119, 79);
        
      
    }
      