.imageLoad{
    opacity:1;
    animation:fade-in 2s ease-in-out 0s 1;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.sectionLoad{
    top: 0;
    bottom: 0;
    transform: translate(0px,0px);
    animation:section-load 1s ease-out 0s 1;
}

@keyframes section-load {
    0%{
        transform: translate(0px,100px);
        
        opacity: 0;
    }
    100%{
        transform: translate(0px,0px);
        
        opacity: 1;
    }
    
}

.intro-load{
    animation:section-load 1s ease-out 0s 1;
}

/* .btn-center {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
} */

/* Menu Icon */


/* Animation */
.close span {
	transition: .4s top, .4s bottom, .4s .4s transform;
}
.close span:nth-of-type(1) {
	top: 40%;
	transform: rotate(45deg);
}
.close span:nth-of-type(2) {
	opacity: 0;
	transition: opacity .1s .4s;
}
.close span:nth-of-type(3) {
	bottom: 40%;
	transform: rotate(-45deg);
}

.sticker-holder{
    position: sticky;
    transition: all 1s ease;
    background: rgba(131, 167, 239, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transform: translateY(-200%);
    opacity: 0;
}

.sticker-open{
    position: sticky;
    top: 40px;
    transform: translateY(0%);
    opacity:1;
}

.sticker{
    background: rgba(131, 167, 239, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.sticker:not(:last-child){
    margin-right: 10%;
}
.skip-button{
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(134 239 172);;
  }

  .skip-button:not(:last-child){
    margin-right: 2rem;
  }
/* Defaults */


.image-size{
    height: 24rem;
    width: 24rem;
}

.image-text-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-buttons-sizer{
    width: 5rem;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
    .image-text-holder{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .image-size{
        height: 12rem;
        width: 12rem;
    }

    .image-buttons-sizer{
        width: 3rem;
    }
  }
  
  @media screen and (min-width: 641px) and (max-width: 768px) {
    .image-text-holder{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .image-size{
        height: 24rem;
        width: 24rem;
    }

    .image-buttons-sizer{
        width: 5rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .image-text-holder{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .image-size{
        height: 24rem;
        width: 24rem;
    }

    .image-buttons-sizer{
        width: 5rem;
    }
  }


  .intro-text-green-dark-200{
    color: rgb(187 247 208);
  }

  .light .intro-text-green-dark-200{
    color: black;
  }

  .intro-text-green-dark-100{
    color: rgb(220 252 231);
  }

  .light .intro-text-green-dark-100{
    color: black;
  }

  .intro-text-white-dark{
    color: white;
  }

  .light .intro-text-white-dark{
    color: black;
  }