@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.parent{
  width:50%;
  float:left;
  
  cursor: grab;
}
.child{
  width:1000px;
  float:left;
  font-size:15px;
  font-family:arial;
  padding:10px;
  cursor: pointer;
}

.timeline {
  width:50%;
  float:left;
  cursor: grab;
  overflow: auto;
}

@keyframes reveal {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.section-block{
  transition: opacity 0.5s ease-in-out;
}

.section-block.show{
  visibility: visible;
  opacity: 1;
  animation: reveal 1s ease-out 0s 1;
}

.section-block.hide{
  opacity: 0;
  visibility: hidden;
}


.section-block.fade{
  
  opacity: 0.5;
}

.background-parent{
  transition: all 0.2s ease-in-out;
  background-color: RGB(2 6 23);
}

.light .background-parent{
  background-color: RGB(208 234 248);
}