/* Mouse scroll */

@keyframes scrollDown {
    0% {
      transform: scale(1, 1.2) translate(0px,0px);
    }
    25% {
        transform: scale(1, 1.2) translate(0px,10px) ;
      }
    
    50% {
        transform: scale(1, 1.2)  translate(0px,0px) ;
    }

    75% {
        transform: scale(1, 1.2)  translate(0px,10px) ;
    }
  
    100% {
      transform: scale(1, 1.2) translate(0px,0px);
    }
  }

.mouse-scroll{
    animation: scrollDown 2s infinite linear ;
}

.mouse-scroll-regular{
    transform: scale(1,1.2);
}


/* Mouse side-to-side */

@keyframes sideToSide {
    0% {
        opacity: 1;
      transform: translate(0px,0px) rotateZ(0deg);
    }
    75% {
        opacity: 1;
        transform: translate(-40px,0px) rotateZ(-20deg) ;
      }
    100% {
        opacity: 0;
      transform: translate(-40px,0px) rotateZ(-20deg);
    }
  }

.mouse-side{
    animation: sideToSide 1s infinite ease-in ;
}

/* Styling dialogue animate on spawn */


@keyframes bubbleUp{
    0%{
        transform:rotateZ(10deg) scale(0);
    }
    25%{
        transform: rotateZ(-10deg) scale(1);
    }
    75%{
        transform:  rotateZ(10deg) scale(1);
    }
    100%{
        transform:rotateZ(-10deg) scale(0);
    }
}

.dialogue-box{
    scale: (0);
    animation: bubbleUp 1s 1 linear ;
}

.dialogue{
    color: rgb(0 0 0);
    font-size: 2rem; /* 36px */
    line-height: 2rem; /* 40px */
    font-weight: bold;
}

.img-hover {
    transition: all 0.15s linear;
}

/* Styling the menu button */
.menu-btn {
    position: fixed;
    z-index: 3;
    left: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.menu-nav {
    position: fixed;
    cursor: pointer;
    left: 70px;
    top: 35px;
}

/* Styling the hamburger lines */
.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: black;
    transition: all 0.5s ease-out;
}

/* Adding transform to the X */
.menu-btn-close {
    position: fixed;
    z-index: 3;
    left: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    transform: rotate(180deg) translate(0px, 5px);
}

.menu-btn-close .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: black;
    transition: all 0.5s ease-out;
}


/* Styling the three lines
    to make it an X */
.menu-btn-close .btn-line:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn-close .btn-line:nth-child(2) {
    opacity: 0;
} 

.menu-btn-close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

.menu-items{
    position: fixed;
    height: auto;
    z-index: 1;
    left: 35px;
    top: 70px;
    transition: all 0.5s ease-out;
}